* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: scroll;
    font-size: 24px;
    font-family: American TypeWriter, Regular;
}

label {
    font-size: 18px;
}
input, button {
    height: 32px;
    padding: 0px 10px;
    font-family: American TypeWriter, Regular;
    font-size: 18px;
    
    outline: none;
    border: none;
    border-radius: 6px;
    transition: 0.45s;
    transform: none;
}

a {
    text-decoration: none;
}

.button:hover {
    transition: 0.30s;
}
.button:active {
    transform: translate(0px, 1px);
    /* box-shadow: none; */
}

#switch-theme {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    padding: 2px 8px;
    border-radius: 10px;
    font-weight: bold;
    font-family: American TypeWriter, Regular;
    opacity: 0;
}


.container {
    width: 710px;
    margin: 0 auto;
}
.limiter {
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
}

.logout {
    position: absolute;
    left: 20px;
    top: 20px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px;
}

.profile-icon {
    height: 25px;
    width: 25px;
    margin-right: 20px;
    border: 3px white solid;
    border-radius: 50px;
}
.account {
    font-size: 28px;
    font-weight: bold;
}


.balance {
    margin-bottom: 60px;
    font-size: 30px;
}

.r-line {
    height: 1px;
    border-radius: 5px;
}
.r-main {
    display: flex;
    margin-top: 14px;
    margin-bottom: 14px;
    justify-content: space-between;
}
.c-line {
    width: 1px;
    height: 90px;
    border-radius: 5px;
}
.c-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 84px;
}

.expense-amount {
    font-weight: bold;
}
.income-amount {
    font-weight: bold;
}
.remain-amount {
    font-weight: bold;
}


/* MAIN */

.add-new {
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
    user-select: none;  
}
.borders {
    padding: 2px 30px;
    font-size: 36px;    
    font-weight: bold;
    transition: 0.45s;
}
.borders:hover {
    transition: 0.30s;
}
.borders:active {
    transition: 0.30s;
    transform: translate(0px, 1px);
}

.balance-check {
    position: absolute;
    top: 252px;
    left: 42%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    transform: translateX(-50%);
    transition: all .33s ease;
    z-index: 1000;
}

.balance-check>input {
    margin-bottom: 30px;
    border: none;
}

.submit {
    margin-top: 40px;
}

.check-row {
    height: 1px;
    margin: 20px 0px;
    border-radius: 5px;
}
.check-row:first-child {
    display: none;
}
    
.row-1 {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}
.row-2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.comment {
    font-family: JetBrains Mono, Regular;
}


.footer {
    margin-top: 100px;
}

/* AUF */